.carousel-adidas-pdp {
	position: relative;
	width: 100%;
}
.carousel-indicators {
	position: absolute;
	top: 20px;
	left: 20px;
	z-index: 10;
  width: 160px;
  margin: 0;
  padding: 0;
  line-height: 0;
  font-size: 0;
  list-style: none;
}
.carousel-indicators li {
  display: block;
  float: left;
	width: 68px;
  height: 68px;
  margin: 0 10px 10px 0;
  border-color: #ddd;
  border-radius: 0;
  text-indent: 0;
}
.carousel-indicators li img {
}
.carousel-indicators li.active {
  width: 68px;
  height: 68px;
  margin: 0 10px 10px 0;
	border-color: black;
}
.carousel-inner {
	width: 100%;
	text-align: center;
}
.carousel-inner .item {
	text-align: left;
}
.carousel-inner .item img {
	display: inline-block;
	margin: 0;
	padding: 0;
}
.adidas-photo-container {
	position: relative;
	max-width: 900px;
	margin: 0 auto;
}
.adidas-photo-container img {
	display: inline-block;
	margin: 0;
	padding: 0;
}
.sticky-wrapper {
  z-index: 100;
}



.sticky-wrapper,
.adidas-head {
	position: absolute;
  width: 100%;
  height: 64px !important;
	top: 0;
  left: 0;
	z-index: 100;
	color: white;
}
.adidas-head {
  background-color: rgba(0, 0, 0, 0.8);
}
.adidas-logo {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 10;
  width: 50px;
}
.adidas-store-nav {
	position: relative;
	list-style: none;
	width: 500px;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}
.adidas-store-nav > li {
	display: inline-block;
  margin: 0 10px;
	padding: 0 20px;
	font-size: 14px;
	line-height: 64px;
  text-transform: uppercase;
  color: #aaa;
}
.adidas-store-nav > li:hover {
  cursor: pointer;
  color: white;
}
.is-sticky .adidas-head,
.is-sticky .sticky-wrapper {
  height: 44px !important;
}
.is-sticky .adidas-store-nav > li {
  line-height: 44px;
}
.is-sticky .adidas-logo {
  top: 8px;
  width: 40px;
}

.adidas-body {
  margin-top: 64px;
}


@media (min-width: 768px) and (max-width: 991px) {
  .adidas-pdp {
  }
}
@media (min-width: 992px) {
	.adidas-pdp-main {
		background-color: #eee;
	}
  .adidas-pdp-visual {
    float: left;
    width: 66%;
  }
  .adidas-pdp-summary {
  	float: right;
  	width: 34%;
  	padding: 40px;
  }
/*  .adidas-head {
  	position: fixed;
  	left: 0;
  	top: 0;
  	bottom: 0;
  	width: 20%;
  	height: 100%;
  		background-color: rgba(0, 0, 0, 0.3);
  }
  .adidas-body {
  	margin-left: 20%;
  	overflow: hidden;
  }
  .adidas-pdp-visual {
  	width: 70%;
  }
  .adidas-photo-container {
  	width: 100%;
  	margin: 0;
  }*/
}
