body {
  background-color: white;
}
img {
	max-width: 100%;
}
.clearfix:after {
  content:"";
  display:block;
  clear:both;
}
@media (min-width: 768px) and (max-width: 991px) {
  .adidas-pdp {
  }
}
@media (min-width: 992px) {
  .adidas-pdp {
  }
}
