body {
  background-color: white;
}
img {
	max-width: 100%;
}
.clearfix:after {
  content:"";
  display:block;
  clear:both;
}
.adidas-color-brand-primary {

}
.adidas-text-color-primary {

}
.adidas-text-color-secondary {

}
.adidas-test-color-minor {
	
}
@media (min-width: 768px) and (max-width: 991px) {
  .adidas-pdp {
  }
}
@media (min-width: 992px) {
  .adidas-pdp {
  }
}
