.adidas-pdp-main {
  position: relative;
  background-color: #efefef;
}
.adidas-pdp-visual {
  position: relative;
  min-height: 320px;
}
.adidas-pdp-visual .glyphicon {
  position: absolute;
  z-index: 10;
  line-height: 20px;
  color: #aaa;
}
.adidas-pdp-visual .glyphicon:hover {
  cursor: pointer;
  color: #222;
}
.adidas-pdp-visual .glyphicon-share {
  top: 50px;
  right: 20px;
  font-size: 19px;
}
.adidas-pdp-visual .glyphicon-heart-empty {
  top: 20px;
  right: 20px;
  font-size: 22px;
}
.adidas-nav-breadcrumb {
  display: block;
  margin: 0;
  padding: 30px 30px 0 27px;
  font-size: 12px;
  line-height: 18px;
  text-align: left;
}
.adidas-nav-breadcrumb li {
  display: inline-block;
}
.adidas-nav-breadcrumb li:hover {
  color: #007feb;
  cursor: pointer;
}
.adidas-nav-breadcrumb .glyphicon {
  margin: 0 2px;
  color: #999;
  font-size: 9px;
}
.adidas-pdp-summary {
  padding: 0 30px 30px;
  color: #333;
}
.adidas-product-brand-line {
  padding: 0 0 10px;
  border-bottom: 1px solid rgba(0,0,0,.1);
}
.adidas-product-name h3 {
  margin: 10px 0 5px;
  font-size: 22px;
}
.adidas-product-name h4 {
  margin: 0 0 10px;
  font-size: 14px;
  font-weight: normal;
}
.adidas-product-price {
  float: left;
  padding: 5px 0;
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
}
.adidas-product-rate {
  display: block;
  float: right;
  width: auto;
  margin-top: 7px;
  color: #007feb;
}
a.adidas-product-rate:hover,
a.adidas-product-rate:active {
  color: #007feb;
  text-decoration: none;
}
.adidas-product-rate-stars {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
}
.adidas-product-rate-stars li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.adidas-product-rate-stars .glyphicon {
  width: 8px;
  height: 8px;
  font-size: 10px;
  color: #007feb;
}
.adidas-pdp-actions {
  padding: 15px 0;
}
.adidas-product-look-label {
  margin-bottom: 5px;
  font-size: 13px;
  line-height: 20px;
  font-weight: normal;
}
.adidas-product-looks {
  display: block;
  margin: 0 0 10px 0;
  padding: 0;
  list-style: none;
}
.adidas-product-looks > li {
  display: inline-block;
  position: relative;
  margin: 0 2px;
  padding: 0;
  width: 60px;
  height: 60px;
  opacity: .7;
}
.adidas-product-looks > li:hover {
  cursor: pointer;
  opacity: 1;
}
.adidas-product-looks > li.active {
  opacity: 1;
}
.adidas-product-looks > li.active:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #007feb;
}
.adidas-pdp-size-chart {
  padding: 0 0 5px 0;
  text-align: right;
}
.adidas-pdp-select-group {
  margin: 20px 0 5px;
  text-align: left;
}
.adidas-pdp-select-group .dropdown {
  display: inline-block;
}
.adidas-pdp-select-group .dropdown .btn {
  position: relative;
  padding: 10px 15px;
  text-align: left;
  font-size: 13px;
  border-radius: 3px;
  border-color: rgba(0,0,0,.1);
}
.adidas-pdp-select-group .dropdown .btn:hover {
  color: #007feb;
  background-color: white;
  border-color: rgba(0,0,0,.1);
}
.adidas-pdp-select-group .dropdown .caret {
  float: right;
  margin: 8px 0 0 8px;
  color: #007feb;
}
.adidas-pdp-select-group .dropdown-menu {
  margin: 0;
  padding: 0;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,.05);
  box-shadow: 0 2px 3px rgba(0,0,0,.1)
}
.adidas-pdp-select-group .dropdown-menu li {
  padding: 5px 10px;
  border-top: 1px solid rgba(0,0,0,.1);
}
.adidas-pdp-select-group .dropdown-menu li:first-child {
  border-top: 0;
}
.adidas-pdp-select-group .dropdown-menu li:hover {
  cursor: pointer;
  color: #007feb;
  background-color: #f2f2f2;
}
.adidas-pdp-select-size .btn {
  width: 150px;
}
.adidas-pdp-select-size .dropdown-menu {
  width: 202px;
}
.adidas-pdp-select-size .dropdown-menu li {
  float: left;
  width: 99px;
}
.adidas-pdp-select-size .dropdown-menu li:nth-child(2) {
  border-top: 0;
}
.adidas-pdp-select-size .dropdown-menu li:nth-child(even) {
  border-left: 1px solid rgba(0,0,0,.1);
}
.adidas-pdp-cta .btn {
  width: 100%;
  max-width: 252px;
  margin-left: 1px;
  padding: 15px 30px;
  border: 0 !important;
  border-radius: 3px;
  color: white;
  background-color: #007feb;
}
.adidas-pdp-cta .btn:active {
  color: white;
  background-color: #006fdb;
}
.adidas-pdp-shipping {
  padding: 10px 0 10px;
  font-size: 14px;
}
.adidas-pdp-shipping h5 {
  display: inline-block;
  margin: 0;
  padding: 0 15px 0 0;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
}
.adidas-pdp-shipping small {
  font-size: 10px;
}
.adidas-pdp-shipping .glyphicon {
  font-size: 12px;
}
.adidas-product-privilege {
  float: left;
  width: auto;
  min-width: 253px;
  margin: 20px 0 0;
  padding: 10px 20px;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,.1);
}
.adidas-product-privilege-list {
  margin: 0 0 0 -24px;
}
.adidas-product-privilege li {
  font-size: 14px;
}
.adidas-product-privilege li span {
  color: #222;
}
/* Section */ 
.adidas-pdp-section {
  position: relative;
  width: 100%;
  padding: 30px 0;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}
.adidas-pdp-section > * {
  vertical-align: top;
}
.adidas-pdp-section-title {
  padding: 30px 30px 20px 30px;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
}
.adidas-pdp-section:nth-child(odd) {
  background-color: #f2f2f2;
}
.adidas-pdp-section-content {
  padding: 0 30px;
}
.adidas-pdp-section-content ul {
  display: block;
  margin: 20px 0;
  padding: 0;
  list-style: none;
}
.adidas-pdp-section-content li {
  padding: 2px 0;
  font-size: 12px;
  line-height: 18px;
}
.adidas-pdp-section-content li h5 {
  display: inline-block;
  width: 100px;
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
  color: #222;
}
/* Details */
.adidas-pdp-overview {
  display: inline-block;
  position: relative;
  width: 100%;
  text-align: left;
}
.adidas-pdp-feature {
  display: inline-block;
  position: relative;
  width: 100%;
  text-align: left;
}
.adidas-pdp-feature:after {
  content: "";
  display: block;
  position: absolute;
  top: 30px;
  left: 0;
  bottom: 30px;
  width: 0;
  border-left: 1px solid rgba(0,0,0,.1);
}
ul.adidas-pdp-feature-list {
  display: block;
  margin: 30px 0;
  padding: 0;
  list-style: none;
}
.adidas-pdp-feature-list li {
  display: block;
  position: relative;
  min-height: 60px;
  margin: 0 0 20px;
  padding: 0 0 0 90px;
}
.adidas-pdp-feature-list .adidas-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
}
.adidas-pdp-feature-list .adidas-pdp-feature-desc h5 {
  display: block;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: normal;
  color: #222;
}
.adidas-pdp-section-body {
  position: relative;
}
/* Product List */
.adidas-product-list {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.adidas-product-list > li {
  display: block;
  position: relative;
  min-height: 112px;
  margin: 10px;
  padding: 10px 10px 10px 110px;
  border: 1px solid rgba(0,0,0,.1);
  background-color: white;
}
.adidas-product-list .adidas-image {
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 80px;
  height: 90px;
}
.adidas-product-list .adidas-product-info {
  display: block;
  text-align: left;
}
.adidas-product-list .adidas-product-info h5 {
  font-weight: normal;
  color: #333;
}
.adidas-product-list .adidas-product-price {
  font-size: 14px;
  font-weight: normal;
}
.adidas-product-list .adidas-product-rate-stars {
  position: absolute;
  bottom: 10px;
  left: 110px;
}
.adidas-pdp-section-nav {
  display: none;
}
.adidas-pdp-section.pdp-viewed .adidas-product-rate-stars {
  display: none;
}
/* Review */
.adidas-pdp-section.pdp-review .adidas-pdp-section-title {
  padding-bottom: 10px;
}
.adidas-pdp-section-title .btn {
  display: inline-block;
  font-size: 11px;
}
.adidas-product-review-overall {
  padding: 0 30px;
}
.adidas-product-review-overall .adidas-product-rate-stars {
  padding: 10px 0;
}
.adidas-product-review-overall .adidas-product-rate-stars .glyphicon {
  width: 22px;
  height: 22px;
  font-size: 20px;
  line-height: 20px;
}
.adidas-product-review-overall > h5 {
  position: relative;
  margin: 0 10px;
  padding: 10px 20px;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}
.adidas-product-review-breakdown,
.adidas-product-review-summary {
  width: 260px;
  margin: 0 auto 20px;
  padding: 20px;
  border-radius: 3px;
  background-color: #f2f2f2;
}
.adidas-bar {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}
.adidas-bar > li {
  display: block;
  position: relative;
  margin-bottom: 5px;
  text-align: left;
  line-height: 0;
}
.adidas-bar li > * {
  vertical-align: middle;
}
.adidas-bar > li h5 {
  display: inline-block;
  padding-right: 5px;
  font-size: 11px;
  line-height: 16px;
  font-weight: normal;
}
.adidas-bar .progress {
  display: inline-block;
  width: 150px;
  height: 12px;
  margin: 0 5px 0 0;
  padding: 0;
  border-radius: 0;
  border-top: 1px solid rgba(0,0,0,.1);
  background-color: white;
}
.progress .progress-bar {
  background-color: #007feb;
}
.adidas-product-review-summary .adidas-bar > li {
  margin-bottom: 8px;
}
.adidas-product-review-summary li h5 {
  width: 50px;
}
.adidas-product-review-summary .progress {
  height: auto;
  overflow: visible;
}
.adidas-product-review-summary .progress.sub {
  position: relative;
  height: auto;
  margin-left: 55px;
  box-shadow: none;
  border: 0;
  background-color: transparent;
  font-size: 9px;
  line-height: 13px;
}
.adidas-product-review-summary .progress .progress-bar {
  position: relative;
  height: 4px;
  background-color: #007feb;
  overflow: visible;
}
.adidas-product-review-summary .progress .progress-bar:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: -6px;
  height: 10px;
  width: 10px;
  margin-top: -5px;
  border-radius: 5px;
  background-color: #007feb;
}
.adidas-product-review-summary .progress.sub span:last-child {
  position: absolute;
  right: 0;
}
.adidas-pdp-customer-review-main {
  position: relative;
}
.adidas-pdp-customer-reviews {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.adidas-pdp-customer-review {
  display: block;
  margin: 30px;
  padding: 20px;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 3px;
  text-align: left;
}
.adidas-pdp-customer-review .adidas-product-rate-stars .glyphicon {
  width: 10px;
  height: 10px;
  font-size: 12px;
  color: #007feb;
}
.adidas-pdp-customer-review-date {
  position: absolute;
  top: 1px;
  right: 0;
  font-size: 12px;
}
.adidas-pdp-customer-review-title {
  margin: 10px 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
}
.adidas-pdp-customer-review-content {
  font-size: 13px;
  line-height: 20px;
}
.adidas-pdp-customer-review-vote {
  display: block;
  margin: 10px 0 0 0;
  padding: 0;
  list-style: none;
  text-align: right;
}
.adidas-pdp-customer-review-vote li {
  display: inline-block;
  margin: 0 0 0 10px;
  padding: 0;
}
.adidas-pdp-customer-review-vote li .glyphicon {
  color: #007feb;
}
.adidas-pdp-customer-review-vote li .glyphicon:hover {
  cursor: pointer;
}
.adidas-pdp-customer-review-sub {
  display: none;
}







@media (min-width: 0) and (max-width: 767px) {
  .sticky-wrapper {
    height: 81px !important;
  }
  .sticky-wrapper.is_sticky {
    height: 40px !important;
  }
  .adidas-pdp-summary.sticky.is_stuck {
    bottom: auto !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .adidas-pdp-visual .glyphicon {
    top: 28px;
    right: 30px;
    z-index: 10;
    font-size: 22px;
    line-height: 26px;
  }
  .adidas-pdp-visual .glyphicon-heart-empty {
    top: 30px;
    right: 70px;
    font-size: 26px;
  }
  .adidas-pdp-summary.sticky.is_stuck {
    bottom: auto !important;
  }
  .adidas-product-list > li {
    display: inline-block;
    width: 45%;
    margin: 10px 1%;
  }
  .adidas-btn {
    margin-left: 20px;
  }
  .adidas-product-review-overall {
    text-align: center;
  }
  .adidas-product-review-overall .adidas-product-rate-stars {
    display: block;
    width: 150px;
    margin: 0 auto;
    text-align: center;
  }
  .adidas-product-review-overall .adidas-product-review-breakdown,
  .adidas-product-review-overall .adidas-product-review-summary {
    display: inline-block;
    margin: 0 20px 20px 20px;
  }
  .adidas-pdp-customer-review {
    position: relative;
    padding: 20px 20px 20px 300px;
  }
  .adidas-pdp-customer-review-sub {
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 260px;
  }
  .adidas-pdp-customer-review-sub .adidas-product-review-summary .progress .progress-bar,
  .adidas-pdp-customer-review-sub .adidas-product-review-summary .progress .progress-bar:after {
    background-color: #999;
  }
}
@media (min-width: 992px) {
  .adidas-pdp-main {
    position: relative;
    line-height: 0;
  }
  .adidas-pdp-visual {
    display: inline-block;
    width: 66%;
    min-height: 655px;
  }
  .adidas-pdp-visual .glyphicon {
    top: 28px;
    right: 37px;
    z-index: 10;
    font-size: 22px;
    line-height: 26px;
  }
  .adidas-pdp-visual .glyphicon-heart-empty {
    top: 30px;
    right: 77px;
    font-size: 26px;
  }
  .adidas-nav-breadcrumb {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    width: 34%;
    padding: 20px 30px 0 37px;
    font-size: 12px;
    line-height: 18px;
    text-align: left;
  }
  .adidas-pdp-summary {
    float: right;
    right: 0;
    width: 34%;
    padding: 40px 40px 40px 40px;
    font-size: 13px;
    line-height: 22px;
  }
  .adidas-pdp-summary.sticky.is_stuck {
    bottom: ;
  }
  .adidas-product-name h3 {
    margin: 10px 0 5px;
    font-size: 24px;
  }
  .adidas-pdp-overview {
    width: 40%;
    padding: 30px 50px 0 30px;
  }
  .adidas-pdp-feature {
    width: 50%;
    padding: 30px 30px 0 50px;
  }
  .adidas-product-list > li {
    display: inline-block;
    width: 200px;
    margin: 10px;
    padding: 0;
    border: 0;
  }
  .adidas-product-list .adidas-image {
    display: block;
    position: relative;
    top: auto;
    left: auto;
    width: 200px;
    height: 250px;
  }
  .adidas-product-list .adidas-product-info {
    display: block;
    text-align: left;
    padding: 10px 20px;
    height: 90px;
  }
  .adidas-product-list .adidas-product-price {
    font-size: 14px;
    font-weight: normal;
  }
  .adidas-product-list .adidas-product-rate-stars {
    position: absolute;
    bottom: 10px;
    left: 20px;
  }
  .adidas-pdp-section-nav {
    display: block;
    position: absolute;
    top: 50%;
    width: 30px;
    height: 120px;
    margin-top: -60px;
    border-radius: 3px;
    background-color: rgba(0,0,0,.08);
    color: #bbb;
    text-align: center;
  }
  .adidas-pdp-section-nav .glyphicon {
    line-height: 120px;
  }
  .adidas-pdp-section-nav.prev {
    left: 20px;
  }
  .adidas-pdp-section-nav.next {
    right: 20px;
  }
  .adidas-pdp-section-nav:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,.12);
  }
  .adidas-pdp-section.pdp-viewed .adidas-product-list > li {
    width: 150px;
  }
  .adidas-pdp-section.pdp-viewed .adidas-product-list .adidas-image {
    width: 150px;
    height: 180px;
  }
  .adidas-pdp-section.pdp-viewed .adidas-product-list .adidas-product-info {
    height: 75px;
  }
  .adidas-btn {
    margin-left: 20px;
  }
  .adidas-product-review-overall {
    text-align: center;
  }
  .adidas-product-review-overall .adidas-product-rate-stars {
    display: block;
    width: 150px;
    margin: 0 auto;
    text-align: center;
  }
  .adidas-product-review-overall .adidas-product-review-breakdown,
  .adidas-product-review-overall .adidas-product-review-summary {
    display: inline-block;
    margin: 0 20px 20px 20px;
  }
  .adidas-pdp-customer-reviews {
    width: 930px;
    margin: 0 auto;
  }
  .adidas-pdp-customer-review {
    position: relative;
    padding: 20px 20px 20px 300px;
  }
  .adidas-pdp-customer-review-sub {
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 260px;
  }
  .adidas-pdp-customer-review-sub .adidas-product-review-summary .progress .progress-bar,
  .adidas-pdp-customer-review-sub .adidas-product-review-summary .progress .progress-bar:after {
    background-color: #999;
  }
}















