.animated {
  -webkit-animation-duration: .2s;
     -moz-animation-duration: .2s;
       -o-animation-duration: .2s;
          animation-duration: .2s;
  -webkit-animation-fill-mode: both;
     -moz-animation-fill-mode: both;
       -o-animation-fill-mode: both;
          animation-fill-mode: both;
}
.animated.hinge,
.animated.shake {
  -webkit-animation-duration: .5s;
     -moz-animation-duration: .5s;
       -o-animation-duration: .5s;
          animation-duration: .5s;
}
.animated.bounceIn,
.animated.bounceOut {
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
}
.animated.flash {
  -webkit-animation-duration: 1.5s;
     -moz-animation-duration: 1.5s;
       -o-animation-duration: 1.5s;
          animation-duration: 1.5s;
}
.ad-animate-delay-s {
  -webkit-animation-delay: .7s;
  animation-delay: .7s;
}
.ad-animate-delay-m {
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}
.ad-animate-delay-l {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
